<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/get/" method="post">
    {% csrf_token %}
    <table align="center" border="1">
        <tr>
            <td>
                <input type="number" placeholder="idno" value="{{ nam }}" name="t1" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="name" name="t2" value="{{ p2.name }}" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" placeholder="salary" name="t3" value="{{ p2.salary }}" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="save">
            </td>
        </tr>
        <tr>
            <td>
                {{ message }}{{ msg }}
            </td>
        </tr>
    </table>
</form>


<table border="1" align="center">
    <tr>
        <td>idno</td>
        <td>name</td>
        <td>salary</td>
        <td>deletey</td>
        <td>update</td>
    </tr>
    {% for x  in emp %}
        <tr><td>{{ x.idno}}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.salary }}</td>
        <td>
            <form action="/del/" method="post" >
                {% csrf_token %}
                <input type="submit" value="delete">
                <input type="hidden" value="{{ x.idno }}" name="delete">
            </form>
            </td>
            <td>
                <a href="/update/?update={{ x.idno }}">uppdate</a>
                </td>

        </tr>
    {% endfor %}
</table>
</body>
</html>